In [1]:
#Regular expression Task:-

In [3]:
# Q1 write a python program to replace all occurance of space ,comma,or dot with a colon.
# sampe text - 'Python Exercises, PHP exerecises.'
# Expected output - Python:Exercises::PHP exerecises:
# Answer attached below

In [56]:
import regex as re

In [5]:
string ='Python Exerecises, PHP exercises.'
x=re.sub(r'[ ,.]',":",string)
print (x)

Python:Exerecises::PHP:exercises:

In [7]:
#Q2 create a datafream using the dictionary below and remove everything from the columns except words

In [41]:
import pandas as pd

In [47]:
data={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(data)

In [48]:
df['SUMMARY']=df['SUMMARY'].str.replace(r'[^a-zA-Z\s]','',regex=True)

print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [50]:
#Q3 create function in a python to find all words that are atleast 4 character long in a string the use of re.compile method is 
#mandetory


String1='Yoga is a type of exercise in which you move your body into various positions in order to become more fit or flexible, to improve your breathing, and to relax your mind'

def long_word(String1):
    
    pattern=re.compile(r'\b\w{4,\b}')
    
    long_word=pattern.findall(String1)
    
    return long_word

In [175]:
data=regex_pattern.findall(String1)
print(data)

['Yoga', 'type', 'exer', 'cise', 'whic', 'move', 'your', 'body', 'into', 'vari', 'posi', 'tion', 'orde', 'beco', 'more', 'flex', 'ible', 'impr', 'your', 'brea', 'thin', 'rela', 'your', 'mind']

In [59]:
#Q4 create function in a python to find all words that are atleast theree,foru,five character long in a string the use of re.compile method is 
#mandetory

Text_sample='Yoga is a type of exercise in which you move your body into various positions in order to become more fit or flexible, to improve your breathing, and to relax your mind'

def find_word(string):
    pattern=re.compile(r'\b\w{3,5}\b')
    matches=pattern.findall(string)
    return matches
                       
Text_sample='Yoga is a type of exercise in which you move your body into various positions in order to become more fit or flexible, to improve your breathing, and to relax your mind'

result=find_word(Text_sample)
print(result)

['Yoga', 'type', 'which', 'you', 'move', 'your', 'body', 'into', 'order', 'more', 'fit', 'your', 'and', 'relax', 'your', 'mind']

In [195]:
##Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the 
##re.compile() method is mandatory.

In [67]:

def remove_para(strings):
    pattern=re.compile(r'\s\(|\)*?')
    modified_strings = []
    for i in strings:
        modified_string=re.sub(pattern,"",i)
        modified_strings.append(modified_string)
        return modified_string

In [68]:
Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

data=remove_para(Sample_Text)
print(data)

example.com

In [ ]:
##Question 6- Write a python program to remove the parenthesis 
##area from the text stored in the text file using Regular Expression.
## Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [277]:
##Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [309]:
import regex as re

with open ("C:/Users/DELL/OneDrive/Desktop/filename.txt") as file:
    for Text1 in file:
        new_text=re.sub(r'\s*\([^)]*\)',"",Text1)
        print(new_text)

Text1= ["example", "hr@fliprobo", "github", "Hello", "Data"]

In [ ]:
##Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [312]:
Sample_text= 'ImportanceOfRegularExpressionsInPython'

x=re.findall(r'[A-Z][^A-Z]*',Sample_text)
print(x)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [14]:
##Question 8- Create a function in python to insert spaces between words starting with numbers.

def ins_spa(Text):
    x=re.sub(r'(\d)([A-Za-z])',r' \1\2',Text)
    return x

text='RegularExpression1IsAn2ImportantTopic3InPython'

result=ins_spa(text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [15]:
##Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.


def ins_spa(Text):
    x=re.sub(r'(\d)([A-Za-z])',r' \1 \2',Text)
    return x

text='RegularExpression1IsAn2ImportantTopic3InPython'

result=ins_spa(text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
##Question 10- Use the github link below to read the data and create a dataframe. 
#After creating the dataframe extract the first 6 letters of each country and store in the 
#dataframe under a new column called first_five_letters.

import numpy as np
import pandas as pd


data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
data.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [331]:
data.shape

(158, 12)

In [4]:
pattern= r'(^.{1,6})'
data['first_five_letters']=data['Country'].str.extract(r'(^.{1,6})')

print(data)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

In [26]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, 
#numbers, and underscores.

def abcd_string(string):
    pattern= r'^[a-zA-Z0-9_]+$'
    if re.match(pattern,string):
        print("string match sucessfully")
    else:
        print("String does not match properly")

In [28]:
Result= "Hi vyanky"
abcd_string(Result)

Result1 = "Hi_vyanky888"
abcd_string(Result1)

String does not match properly
string match sucessfully

In [33]:
#Question 12- Write a Python program where a string will start with a specific number. 

string= "888 vyanky doing data science"
string2= "123 vynaky doing data science"

print(string.startswith('888'))
print(string2.startswith('888'))

True
False

In [41]:
#Question 13- Write a Python program to remove leading zeros from an IP address


ip="216.08.002.808"

string=re.sub(r'\.[0]*','.',ip)
print (string)

216.8.2.808

In [67]:
with open("C:/Users/DELL/OneDrive/Desktop/file1.txt")as file:
    text=file.read()
    
pattern=re.compile(r'\b(?:January|February|March|April|May|Jun|July|August|September|October|November|December)\s\d{1,2}(st|nd|rd|th)\s\d{4}\b')
match=re.search(pattern,text)
    
if match:
        print ("Match",match.group(0))
else:
        print("Not match.")

Match August 15th 1947

In [82]:
#Question 15- Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'


patterns=['fox','dog','horse']
string='The quick brown fox jumps over the boy'

for pattern in patterns:
    print('searching "%s" in "%s" ->' %(pattern, string),)
    if re.search(pattern, string):
        print ("matching sucessfull")
    else:
        print ("No Match")

searching "fox" in "The quick brown fox jumps over the boy" ->
matching sucessfull
searching "dog" in "The quick brown fox jumps over the boy" ->
No Match
searching "horse" in "The quick brown fox jumps over the boy" ->
No Match

In [92]:
#Question 16- Write a Python program to search a literals string in a string and also 
#find the location within the original string where the pattern occurs

pattern ='fox'
string ='The quick brown fox jumps over the lazy boy.'
match = re.search(pattern, string)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d' % (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy boy." from 16 to 19

In [97]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'


Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'

for match in re.findall(Pattern, Sample_text):
    print('Found "%s" ' % match )

Found "exercises"
Found "exercises"
Found "exercises"

In [103]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.


Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'


for match in re.finditer(Pattern, Sample_text):
    s= match.start()
    e= match.end()
    print('Found "%s" at %d:%d' %(text[s:e], s,e))

Found "n August " at 7:16
Found "947 that " at 22:31
Found " was decl" at 36:45

In [106]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

def date_format (dt):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',dt)

date="2024-01-05"
print("actual date=", date)
print("date in format=",date_format(date))

actual date= 2024-01-05
date in format= 05-01-2024

In [113]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.
#The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']


def decimal_no(string):
    pattern=re.compile(r'\d+\.\d{1,2}\b')
    result=re.findall(pattern,string)
    return result

Sample_Text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

x=decimal_no(Sample_Text)

print(x)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [120]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.

text= "i am vyankatesh Mishra , i have 10 years of experiance in MIS and reporting analyst role"

for number in re.finditer("\d+", text):
    print(number.group(0))
    print("location:-", number.start())

10
location:- 32

In [138]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample_Text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

def max_number(string):
    number=re.findall(r'\b\d+\b',string)
    max_value=max(map(int,number)) if number else none
    return max_value

max_value=max_number(Sample_Text)
print( "highest value",max_value)

highest value 950

In [148]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.


def add_space(string):
    new_text=re.sub(r'([a-z])([A-Z])',r'\1 \2',string)
    
    return new_text

Sample_Text ='RegularExpressionIsAnImportantTopicInPython'

x=add_space(Sample_Text)
print(x)

Regular Expression Is An Important Topic In Python

In [155]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

text="Vyankatesh Lavkumar mishra"

pattern= r'[A-Z][a-z]+'

match=re.findall(pattern,text)
print(match)

['Vyankatesh', 'Lavkumar']

In [168]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

import regex as re

def remove_duplicate(text):
    pattern=r'\b(\w+)(\s\1\b)+'
    x=re.sub(pattern,r'\1',text)
    return x

string="Hello hello world world"

result= remove_duplicate(string)
print(result)

Hello hello world

In [4]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

def alpha_numeric(string):
    pattern=r"\w$"
    match= re.search(pattern,string)
    if match:
        return True
    else:
        return False

In [5]:
input_string=input("enter string:-" )

if alpha_numeric(input_string):
    print("True")
else:
    print ("No")

enter string:-vyanky888
True

In [9]:
#Question 27-Write a python program using RegEx to extract the hashtags.

Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS 
<ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""


pattern=r'#\w+'
hashtag=re.findall(pattern,Text)
print (hashtag)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [20]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

modified_text = re.sub(r"<U\+\w{4}>", "",string)

print(modified_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [38]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.


with open("C:/Users/DELL/OneDrive/Desktop/file2.txt")as file:
    text = file.read()
    
    pattern=r'\d{2}-\d{2}-\d{4}'
    dates=re.findall(pattern,text)
    for date in dates:
        print(date)

12-09-1992
15-12-1999

In [40]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
#Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.


def clear_word (string):
    pattern =re.compile(r'\b\w{2,4}\b')
    x=re.sub(pattern,"",string)
    return x

Sample_Text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

result=clear_word(Sample_Text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.